.container {
    background-color:lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.search-box {
    margin-bottom: 10px;
    padding:20px;
}

#city-input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-right:20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-btn {
    padding:8px 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;

}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 20px;
    }

    #city-input {
        width: calc(100% - 20px);
    }

    #search-btn {
        width: 100%;
        margin-top: 10px;
    }
}
#temperature {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

#weather-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

#city-name {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 10px;
}

.weather-info {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}